<!DOCTYPE html>
<html>
    <head>
        <title>Login | StockAdvice</title>
        <link rel="stylesheet" href="../../static/css/login.css">
    </head>

    <body class="background">  

        <div class="header">
            <div class="parent">
                <div class="box">
                    <div class="moveright">
                    <form id="loginForm" action="/login" method="POST">
                        <input class="username" name="username" placeholder="Username" required></input>
                        <br>
                        <input class="password"  name="password" placeholder="Password" type="password" required> 
                        <br>
                        <div class="flex">
                            <input class="checkbox" id="rememberme" name="rememberme" type="checkbox">
                            <label for="rememberme">Remember Me</label> 
                            
                        </div>
                        <br><button class="button" type="submit">Submit</button>
                    </form>
                </div>
            </div>
                
            </div>
        </div>
        
    </body>
    <script src="../../static/js/login.js"></script>

</html>