.header {
    width: 100%;
    height: 75px;
    background-color: lightgrey;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.signup {
    width: 500px;
    height: 200px;
    background-color: lightgrey;
    border-radius: 20px;
    cursor: pointer;

}

.login {
    width: 500px;
    height: 200px;
    border-radius: 20px;
    background-color: lightgrey;
    cursor: pointer;
}

.guest {
    width: 500px;
    height: 200px;
    border-radius: 20px;
    background-color: lightgrey;
    cursor: pointer;
}


.buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
    
}

.threedots{
    width: 75px;
    
}