.parent{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}   
.box {
    display: flex;
    background-color: darkgray;
    width: 30%;
    border-radius: 50px;
    height: 30%;
    align-items: center;
    justify-content: center;

}

form{
    display: grid;
    align-content: center;
  
    
    
}

.username{
    border-color: lightgrey;
    
}

.password{
    border-color: lightgrey;
}

.checkbox{

    
}

.background {
    background-color: white;
    flex: 1;   
}

.header {
    width: 100%;
    height: 75px;
    background-color: lightgrey;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

button{
    cursor:pointer;
    border-color: lightgrey;
    color: black;
    border-radius: 10px;
    height: 150%;
}

.flex{
    display:flex;
    align-items: center;

}

.moveright{
    margin-left: 50%;

}