<!DOCTYPE html>
<html>
   
    <head>
        <title>StockAdvice: 100% Free Stocks Advice App | Get Buy, Sell, Hold Advice on Options, ETFS, Crypto... </title>
        <link rel="stylesheet" href="../static/css/index.css">
    </head>
    <body class="background">
        <div class="header">
            <!-- <div class ="footer"> -->
            <form id="form2">
                <p style="text-align: right;">
                    <button class="button">
                        <img src="static/images/3dots.png" class="threedots"  alt="Dashboard" >
                    </button></p></form>
        <br><br><br><br>
        


        <form id="form" style="text-align: center;">
            <h1> No More Getting Stuck on The Fence With Your Investments!</h1>  
            <p><em>Get Stock Advice From Fellow Holders, Scouters, and Machine Analysis to Help You Decide How Best to Handle Your Invested Resources</em></p>    
            <p><button id="getstarted" type="submit" value="Submit" style="width: 100px; margin-top: 50px;">Get Started</button></p>
        </form>
        
        </div>
    <!-- </div> -->
    </body>
</html>

<script src="../static/js/script.js"></script>