<!DOCTYPE html>
<html>
   
    <!-- <style>
    .button{

    }
    </style>
    -->
    <head>
        <title>StockAdvice: 100% Free Stocks Advice App | Get Buy, Sell, Hold Advice on Options, ETFS, Crypto... </title>
    </head>
    <body>
        <form>
            <p style="text-align: right;">
            <!-- <a href="auth/login.html" target="_blank"> -->
            <button type="button">
            <img src="static/images/3dots.png" style="width: 15px;" alt="Click me" >
            
            </button>
            <!-- </a>     -->
            </p>
        </form>


        <form id="form" style="text-align: center;">
            <h1> No More Getting Stuck on The Fence With Your Investments!</h1>  
            <p><em>Get Stock Advice From Fellow Holders, Scouters, and Machine Analysis to Help You Decide How Best to Handle Your Invested Resources</em></p>    
            <p><button id="getstarted" type="submit" value="Submit" style="width: 100px; margin-top: 50px;">Get Started</button></p>
        </form>
    </body>
</html>

<script src="{{url_for('static', filename='scripts.js')}}"></script>