<!DOCTYPE html>
<html>
    <head>
        <title>Sign Up | StockAdvice</title>
        <link rel="stylesheet" href="../../static/css/signup.css">
    </head>

    <body class="background">
        <div class="header">
            <div class="parent">
                <div class="box">
                    <div class="moveright">
                        <form id="signupForm">
                            <input class = "username" minlength="3" placeholder="Username" name="username" required></input>
                            <br>
                            <input class = "password" minlength="5" placeholder="Password" type="PASSWORD" name="password" required ></input>
                            <br>
                            <button type="submit">Submit</button>
                    </form>
                    </div>
               </div>
            </div>
        </div>
    </body>

    <script src="../../static/js/signup.js"></script>
</html>

