<!DOCTYPE html>
<html>
    <head>
        <title>Sign Up | StockAdvice</title>
        <link rel="stylesheet" href="../../static/css/signup.css">
    </head>

    <body>
        <div class="parent">
            <form class="box" id="signupForm">
                <input class = "username" minlength="3" placeholder="Username" name="username" required></input>
                <br><br>
                <input class = "password" minlength="5" placeholder="Password" type="PASSWORD" name="password" required ></input>
                <button type="submit">Submit</button>
            </form>

        
        </div>
    </body>

    <script src="../../static/js/signup.js"></script>
</html>