<!DOCTYPE html>
<html>
   
    <head>
        <title>StockAdvice: 100% Free Stocks Advice App | Get Buy, Sell, Hold Advice on Options, ETFS, Crypto... </title>
        <link rel="stylesheet" href="../static/css/index.css">
        <script async src="../static/js/script.js"></script>
    </head>
    <body class="background">
        <div class="header">
            <p style="text-align: right;">
                <button id="login_and_signup" class="button">
                    <img src="static/images/3dots.png" class="threedots" alt="Login and Signup" >
                </button></p>
                <br><br><br><br>
                
                
                <div style="text-align: center"> 
                    <h1> No More Getting Stuck on The Fence With Your Investments!</h1>  
                    <p><em>Get Stock Advice From Fellow Holders, Scouters, and Machine Analysis to Help You Decide How Best to Handle Your Invested Resources</em></p>    
                    <p><button id="getstarted" type="submit" style="width: 100px; margin-top: 50px;">Get Started</button></p>
                </div>
            </div>
        </body>
        </html>
        